<app-users></app-users>

<div>
    <label class="col-sm-2 col-form-label">Enter Email:</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter Email">
    </div>
</div>
<div class="text-center">
    <button (click)="ViewBookingHistoryClick()" class="btn btn-primary ">View Booking History</button>
</div>

<div *ngIf="searchDiv" class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>PNR</th>
            <th>Flight Name</th>
            <th>Flight No.</th>
            <th>From</th>
            <th>To</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Total Seats</th>
            <th>Total Price</th>
            <th>Passanger Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Seat No</th>
            <th>Booking Status</th>
            <th>User Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of bookingDetails">
            <td>{{dataItem.pnr}}</td>
            <td>{{dataItem.flightName}}</td>
            <td>{{dataItem.flightNumber}}</td>
            <td>{{dataItem.source}}</td>
            <td>{{dataItem.destination}}</td>
            <td>{{dataItem.departure}}</td>
            <td>{{dataItem.arrival}}</td>
            <td>{{dataItem.totalSeats}}</td>
            <td>{{dataItem.totalPrice}}</td>
            <td>{{dataItem.passangerName}}</td>
            <td>{{dataItem.age}}</td>
            <td>{{dataItem.gender}}</td>
            <td>{{dataItem.seatNo}}</td>
            <td>{{dataItem.bookingStatus}}</td>
            <td>{{dataItem.bookedBy}}</td>            
        </tr>
    </tbody>

</table>
</div>